#
# Board Support Package (generic)
#

#
# Display
#

# CONFIG_BSP_DISPLAY_DRIVER_ST7789 is not set
CONFIG_BSP_DISPLAY_DRIVER_ST7735=y
# CONFIG_BSP_DISPLAY_DRIVER_ILI9341 is not set
# CONFIG_BSP_DISPLAY_DRIVER_GC9A01 is not set
# CONFIG_BSP_DISPLAY_DRIVER_GC9107 is not set

#
# Rotation
#
CONFIG_BSP_DISPLAY_ROTATION_SWAP_XY=y
CONFIG_BSP_DISPLAY_ROTATION_MIRROR_X=y
# CONFIG_BSP_DISPLAY_ROTATION_MIRROR_Y is not set
# end of Rotation

# CONFIG_BSP_DISPLAY_COLOR_SPACE_RGB is not set
CONFIG_BSP_DISPLAY_COLOR_SPACE_BGR=y
CONFIG_BSP_DISPLAY_INVERT_COLOR=y
# CONFIG_BSP_DISPLAY_BRIGHTNESS_INVERT is not set
CONFIG_BSP_DISPLAY_WIDTH=160
CONFIG_BSP_DISPLAY_HEIGHT=80
CONFIG_BSP_DISPLAY_GAP_SET=y
CONFIG_BSP_DISPLAY_GAP_X=1
CONFIG_BSP_DISPLAY_GAP_Y=26

# end of Display
# end of Board Support Package (generic)
